// ==========================================================================
//   SITE FOOTER
// ==========================================================================

footer {
  padding: $gutter*2 0;
  color: $white;
  text-align: center;
}
