{# Default classes if no values exist in styling fields #}

{% set bgcolor = 'default-bgcolor' %}
{% set bgimg = 'default-bgimg' %}
{% set gutter = 'default-gutter' %}
{% set reverse_color = '' %}
{% set reverse_border = '' %}
{% set background = 'no-background' %}

{# Apply classes based on field values if the field exists and it has a value #}

{% if not (paragraph.field_layout_bgcolor.isEmpty == true) and paragraph.field_layout_bgcolor is defined %}
  {% set bgcolor = paragraph.field_layout_bgcolor.value %}
    {# Initial values for background colors
    transparent: transparent
    layout_bgcolor_01: $primary-color (eggplant)
    layout_bgcolor_02: $action-color (blue)
    layout_bgcolor_03: $ice
    layout_bgcolor_04: $charcoal
    layout_bgcolor_05: $black
    layout_bgcolor_06: $white
    #}
   {% if ((paragraph.field_layout_bgcolor.value == 'layout_bgcolor_01') or
     (paragraph.field_layout_bgcolor.value == 'layout_bgcolor_02') or
     (paragraph.field_layout_bgcolor.value == 'layout_bgcolor_04') or
     (paragraph.field_layout_bgcolor.value == 'layout_bgcolor_05')) %}
     {% set reverse_color = 'reverse-color' %}
   {% endif %}
  {% if ((paragraph.field_layout_bgcolor.value == 'layout_bgcolor_03')) %}
    {% set reverse_border = 'reverse-border' %}
  {% endif %}
  {% if ((paragraph.field_layout_bgcolor.value != 'transparent')) %}
    {% set gutter = 'add-gutter' %}
    {% set background = 'background' %}
  {% endif %}
{% endif %}

{% if not (paragraph.field_layout_bgimage.isEmpty == true) and paragraph.field_layout_bgimage is defined %}
  {#  {% set bgimage = paragraph.field_layout_bgimge.value %}#}
  {% set bgimage = 'bgimage' %}
  {% set background = 'background' %}
  {% set gutter = 'add-gutter' %}
{% endif %}

{% if not (paragraph.field_layout_gutter.isEmpty == true) and paragraph.field_layout_gutter is defined %}
  {% set gutter = paragraph.field_layout_gutter.value %}
{% endif %}


{%
  set classes = [
    'section',
    'section--type-' ~ paragraph.bundle|clean_class,
    view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
    'layout-paragraph',
    background,
    bgcolor,
    bgimg,
    gutter,
    reverse_color,
    reverse_border,
  ]
%}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'layout-' ~ paragraph.id.value %}

<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }}>
  <div class="layout-paragraph-wrapper">
  {{ content }}
  </div>
</div>
