{# Default classes if no values exist in styling fields #}

{% set bgcolor = 'default-bgcolor' %}
{% set bgimg = 'default-bgimg' %}
{% set gutter = 'default-gutter' %}
{% set width = 'default-width' %}
{% set fx = 'default-fx' %}
{% set custom_class = '' %}
{% set reverse_color = '' %}

{# Apply classes based on field values if the field exists and it has a value #}

{% if not (paragraph.field_component_bgcolor.isEmpty == true) and paragraph.field_component_bgcolor is defined %}
  {% set bgcolor = paragraph.field_component_bgcolor.value %}
  {% set gutter = 'add-gutter' %}
  {# Initial values for background colors
  transparent: transparent
  component_bgcolor_01: $primary-color (eggplant)
  component_bgcolor_02: $action-color (blue)
  component_bgcolor_03: $ice
  component_bgcolor_04: $charcoal
  component_bgcolor_05: $black
  component_bgcolor_06: $white
  #}
  {% if ((paragraph.field_component_bgcolor.value == 'component_bgcolor_01') or
    (paragraph.field_component_bgcolor.value == 'component_bgcolor_02') or
    (paragraph.field_component_bgcolor.value == 'component_bgcolor_04') or
    (paragraph.field_component_bgcolor.value == 'component_bgcolor_05')) %}
    {% set reverse_color = 'reverse-color' %}
  {% endif %}
{% endif %}

{% if not (paragraph.field_component_bgimage.isEmpty == true) and paragraph.field_component_bgimage is defined %}
  {#  {% set bgimage = paragraph.field_component_bgimge.value %}#}
  {% set bgimage = 'has-bgimage' %}
  {% set gutter = 'add-gutter' %}
{% endif %}

{% if not (paragraph.field_component_gutter.isEmpty == true) and paragraph.field_component_gutter is defined %}
  {% set gutter = paragraph.field_component_gutter.value %}
{% endif %}

{% if not (paragraph.field_component_width.isEmpty == true) and paragraph.field_component_width is defined %}
  {% set width = paragraph.field_component_width.value %}
{% endif %}

{% if not (paragraph.field_component_fx.isEmpty == true) and paragraph.field_component_fx is defined %}
  {% set fx = paragraph.field_component_fx.value %}
{% endif %}

{% if not (paragraph.field_custom_class.isEmpty == true) and paragraph.field_custom_class is defined %}
  {% set custom_class = paragraph.field_custom_class.value|clean_class %}
{% endif %}

{% set component_heading_status = false %}
{% if not (paragraph.field_heading.isEmpty == true) and paragraph.field_heading is defined %}
  {% set component_heading_status = true %}
  {% if paragraph.field_heading_status.value and paragraph.field_heading_status is defined %}
    {% set component_heading_status = false %}
  {% endif %}
{% endif %}

{%
  set classes = [
  'section',
  'section--type-' ~ paragraph.bundle|clean_class,
  view_mode ? 'section--view-mode-' ~ view_mode|clean_class,
  'component-paragraph',
  bgcolor,
  bgimg,
  gutter,
  width,
  fx,
  custom_class,
  reverse_color,
]
%}

{# Sets Unique ID for paragraph from Paragraph ID. #}
{% set paragraph_id = 'component-' ~ paragraph.id.value %}

<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }}>
  <div class="paragraph-wrapper">
    {{ title_suffix }}

    {% if component_heading_status %}
      <div class="heading-wrapper">
        {{ content.field_heading }}
      </div>
    {% endif %}

    {% block componentContent %}
      <div class="content-wrapper">
      {{ content|without('field_heading') }}
      </div>
    {% endblock %}

  </div>
</div>
