// ==========================================================================
//   Blockquotes
// ==========================================================================

blockquote {
  @include font-size(30px);
  position: relative;
  margin: rem($vertical-spacing * 2) 0;
  @include font-size(24px);
  line-height: 30px;
  @include font-weight(medium);
  padding-left: $gutter*3.5;
  padding-right: $gutter*2.5;
  color: $primary-color;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: .25em;
    font-size: 6.5em;
    font-family: Georgia, serif;
    content: "\201C";
    color: inherit;
  }
}
